* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    text-align: center;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

.main{
    position: absolute;
    width: 100%;
    height: 100%;
}

#date{
    position: absolute;
    top:18%;
    left:7%;
    font-size: 300%;
    text-align: center;
    display: inline-block;
    width: 6%;
}

#balance{
    position: absolute;
    top:13%;
    right:7%;
    font-size: 300%;
    text-align: center;
}

#dialog{
    position: absolute;
    right:27%;
    top: 8%;
    text-align: center;
    display: inline-block;
    width:45%;
    font-family: 'Indie Flower', cursive;
    color: white;
}

#currentbal{
    position: absolute;
    left: 50%;
    top: 40%;
}

#deductions{
    position: absolute;
    left: 50%;
    top: 50%;
}

#newbal{
    position: absolute;
    left: 50%;
    top: 60%;
}

#option1button{
    position: absolute;
    top: 50%;
    left: 7%;
    width: 40%;
    height: 25%;
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
    background-color: rgba(195,60,60,0.7);
    border: none;
    color: white;
}

#option2button{
    position: absolute;
    top: 50%;
    right: 7%;
    width: 40%;
    height: 25%;
    font-family: 'Indie Flower', cursive;\
    text-decoration: none;
    background-color: rgba(60,60,195,0.7);
    border: none;
    color: white;
}

#background-main{
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-size: 100%;
}


