body{
    background-color: #333333;
    font-family: 'Montserrat', sans-serif;
    color: #b7c2db;
    height: auto;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Startup */
#startup .container{
    margin-top: 20%;
    z-index: 10;
    text-align: center;
}

#startup #startup-message{
    font-size: 38px;
    font-weight: 500;
    line-height: 1.4;
    width: 100%;
    margin: 0 auto 30px;
    padding: 0 20px;
    max-width: 85%;
}

#startup #startup-text{
    color: #435ef5;
    font-size: 60px;
    letter-spacing: 0.05em;
    margin-bottom: 40px;
}

#startup #startup-start{
    background-color: #202020;
    color: #9ab1f3;
    font-size: 60px;
    border: none;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 8px;
}

.vertical-center .center{
    display: inline-block;
    vertical-align: center;
    
}


  @media only screen and (max-width: 980px){

    /* Startup (Mobile) */
    #startup .container{
        margin-top: 40%;
        z-index: 10;
        text-align: center;
    }

}
